body{
    background-color: rgb(255, 205, 106);
    background-attachment: fixed;
}
/*responsive layout*/
@media screen and (max-width: 700px) {
  .container, .navbar {   
    flex-direction: column;
  }
}
.intestazione{ 
    background-color:  rgb(255, 247, 86); 
    display: flex; 
    align-items: left; 
    gap: 15px; 
    padding: 10px; 
    width: 97%;
    border: 4px solid rgb(255, 153, 0);
    height: auto;
 }
     
.logo{ 
    width: 90px; 
    height: auto; 
    background-color: rgba(246, 241, 236, 0); } 
    
.titoli{ 
    background-color: transparent   ; 
}
.barra{
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgb(238, 200, 83);
  margin: auto;
  position: sticky;
  top:1px;
  border-radius: 8px;
}
.barra ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    width: 100%;                     
    text-align: center;
    display: flex;                  
    justify-content: flex-start;    
    background-color: #333;  
    background-color: rgb(255, 153, 0);   
    border-radius: 8px; 
}

.barra ul li {
    margin: 0;
}

.barra ul li a {
    display: block;
    padding: 14px 20px;
    color: white;
    text-decoration: none;
    text-align: center;
}

.barra ul li a:hover {
    background-color: #111;
    border-radius: 8px;
    }

.barra ul li a.active {
    background-color: white; 
    color: #333; 
    font-weight: bold; 
    border-radius: 8px; 
}