.text{
    font:black
}
.intro{
    background-color:orange;
    width: 52%;
    text-align: center;
    margin: auto;
    padding: 3;
    border:  4px solid rgb(255, 153, 0);
}
.img{
    text-align: center;
}

.percorsi{
    background-color:rgb(251, 255, 0);
    width: 70%;
    text-align: center;
    margin: auto;
    padding: 3;
    border:  4px solid rgb(255, 230, 0);
}


.gallery {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
}

.gallery-item {
  margin: 5px;
  border: 1px solid #ccc;
  height: 180px ;
}

.gallery-item img {
  width: auto;
  height: 180px;
}

.desc {
  padding: 15px;
  text-align: center;
}