.text{
    font:black
}
.intro{
    background-color:orange;
    width: 40%;
    text-align: center;
    margin: auto;
    padding: 3;
    border:  4px solid rgb(255, 153, 0);
}
.img{
    text-align: center;
}
.barra{
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgb(238, 200, 83);
  margin: auto;
  position: sticky;
  border-radius: 8px;
}
