.text{
    font:black
}
.intro{
    background-color:orange;
    width: 52%;
    text-align: center;
    margin: auto;
    padding: 3;
    border:  4px solid rgb(255, 153, 0);
}
.img{
    text-align: center;
}
.barra{
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgb(238, 200, 83);
  margin: auto;
  position: sticky;
  border-radius: 8px;
}
.pulsanti {
  display: none;
  position: absolute;
  background-color: rgb(255, 135, 44);
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
  border-radius: 8px;
}
